We2Client/Web References/w2c_service/w2cService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddWord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="word" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddWordResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddWordSoapIn">
    <wsdl:part name="parameters" element="tns:AddWord" />
  </wsdl:message>
  <wsdl:message name="AddWordSoapOut">
    <wsdl:part name="parameters" element="tns:AddWordResponse" />
  </wsdl:message>
  <wsdl:portType name="w2cServiceSoap">
    <wsdl:operation name="AddWord">
      <wsdl:input message="tns:AddWordSoapIn" />
      <wsdl:output message="tns:AddWordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="w2cServiceSoap" type="tns:w2cServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddWord">
      <soap:operation soapAction="http://tempuri.org/AddWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="w2cServiceSoap12" type="tns:w2cServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddWord">
      <soap12:operation soapAction="http://tempuri.org/AddWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="w2cService">
    <wsdl:port name="w2cServiceSoap" binding="tns:w2cServiceSoap">
      <soap:address location="http://localhost/w2cService/w2cService.asmx" />
    </wsdl:port>
    <wsdl:port name="w2cServiceSoap12" binding="tns:w2cServiceSoap12">
      <soap12:address location="http://localhost/w2cService/w2cService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>